<h1>Hi, <%= @user.nombre %></h1>

<p>
  Yout weekly report from ToDo App 
</p>
<h3>Your ToDo's</h3>
<table>
<tr>
<th>Description</th>
<th>Status</th>
</tr>
<% @user.todos.each do |todo| %>
<tr>
  <td>
  <%= todo.description %>
  </td>
  <td>
  <%= todo.estate?  ? "In process" : "Finish" %>
  </td>
</tr>
<% end %>
</table>